@model ApsMind.Olympiad.Framework.Entity.Notification

@{
    ViewBag.Title = "Create";
}
<div class="mar">

    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <h2 class="">Add Notification</h2>

            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.ClassId, new { @class = "control-label col-md-2 col-sm-3" })
                <div class="col-md-4 col-sm-8 col-xs-12">
                    @Html.DropDownListFor(model => model.ClassId, new SelectList(ViewBag.Class, "CategoryId", "CategoryName"), "--Select Class--", new { @class = "form-control" })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2 col-sm-3" })
                <div class="col-md-4 col-sm-8 col-xs-12">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Message)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-danger" />
                </div>
            </div>
        </div>
    }

</div>

