@*@model IEnumerable<ApsMind.Olympiad.Framework.Entity.Para>*@

@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 15);
    TimeZoneInfo est = TimeZoneInfo.FindSystemTimeZoneById("India Standard Time");
}
<div class="mar">

    <div class="row">
        <div class="col-md-12">
            <div class="page-title">
                <h2 class="">Notification Index</h2>

            </div>
        </div>
    </div>
    @if (TempData["Message"] != null)
    {
        <div>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong>@TempData["Message"].
            </div>
            @*<span style="text-align:center; color:green;">@TempData["Message"]</span>*@
        </div>
    }


    @Html.Raw(ViewBag.Message)
    <div class="col-sm-12">
        <div class="cstmTbl">
            @grid.GetHtml(
        tableStyle: "table table-bordered table-responsive", // applying style on grid
            fillEmptyRows: false,
                    //show empty row when there is only one record on page to it will display all empty rows there.
    headerStyle: "header", //applying style.
        footerStyle: "grid-footer", //applying style.
            mode: WebGridPagerModes.All, //paging to grid
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
    columns: new[]  // colums in grid
    {
         grid.Column("NotificationId", "Id"),

            grid.Column("Class","Class"),
                                   grid.Column("Message","Message"),
            grid.Column("CreatedBy","Created By"),
            grid.Column("CreatedOn","Created On",format: (item) => TimeZoneInfo.ConvertTime(item.CreatedOn, est).ToString("dd MMM yyyy hh:mm tt")),

    })

        </div>
    </div>
</div>
@section Scripts
     {

    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")


    <script src="~/Scripts/jquery.datetimepicker.js"></script>

}