@model ApsMind.Olympiad.Framework.Entity.UserProfile
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
       ================================================== -->
    <meta charset="utf-8">
    <title>:: SilverZone Olympiads ::</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
       ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
       ================================================== -->
    <link type="text/css" rel="stylesheet" href="~/nlook/bootstrap/css/bootstrap.min.css">
    <!-- web font  -->
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="~/nlook/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/nlook/css/flexslider.css" />
    <link type="text/css" rel="stylesheet" href="~/nlook/css/nekoAnim.css">
    <link type="text/css" rel="stylesheet" href="~/nlook/font-icons/custom-icons/css/custom-icons.css">
    <link type="text/css" rel="stylesheet" href="~/nlook/font-icons/custom-icons/css/custom-icons-ie7.css">
    <!-- Custom css -->
    <link type="text/css" rel="stylesheet" href="~/nlook/css/layout.css">

    <link type="text/css" rel="stylesheet" href="~/nlook/css/blue.css">
    <link type="text/css" rel="stylesheet" href="~/nlook/css/font-awesome.min.css">

    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <script src="~/nlook/js/modernizr-2.6.1.min.js"></script>
    <link rel="shortcut icon" href="~/nlook/images/icon.png">
    <link rel="apple-touch-icon" href="~/nlook/images/icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/nlook/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/nlook/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/nlook/images/apple-touch-icon-144x144.png">

</head>
<body data-spy="scroll" data-target="#scrollTarget" data-offset="150" class="activateAppearAnimation" style="overflow: visible;">
    <!-- Primary Page Layout
       ================================================== -->
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">
            <img src="~/nlook/images/theme-pics/loader.gif" alt="" />
            <h1 class="noSubtitle" style="color:#4FAFC2;">Welcome Silverzone</h1>
        </div>
    </div>
    <!-- Preloader -->
    <!-- Primary Page Layout
       ================================================== -->
    <!-- globalWrapper -->
    <div id="globalWrapper" class="localscroll">
        <!-- header -->
        <header id="mainHeader" class="navbar-fixed-top" role="banner">
            <div class="container">
                <nav class="navbar navbar-default scrollMenu" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="~/nlook/images/sm-logo.png" alt="silverzone" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
                        <ul class="nav navbar-nav pull-right">
                            <li class="active"><a href="index.html"><i class="icon-home-outline"></i>Go to Home</a> </li>
                            <!-- <li class="dropdown">
                            <a href="#contact" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-mail"></i>Support<span class="caret"></span></a>

                             <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><i class="fa fa-envelope"></i> Email</a></li>
                                        <li><a href="#"><i class="fa fa-comments"></i> Chat</a></li>
                                        <li><a href="#"><i class="fa fa-phone"></i> Phone Support</a></li>
                                        <li class="divider"></li>
                                        <li class="active"><a href="#"><i class="fa fa-users"></i> Meeting support</a></li></ul>

                            </li>-->



                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!-- header -->
        <!-- content -->
        <section id="dhome" data-stellar-background-ratio="0.5">
            <div class="container-fluid">
                <div class="row">

                    <div class=" col-md-7 animated zoomIn">
                        <img src="~/nlook/images/bg.png" class="img-responsive animated flipInX">
                    </div>
                    <div class=" col-md-5 animated fadeInLeft">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                         {
                        <form id="register-form" class="well form-horizontal" action="#" role="form" method="post">
                            <fieldset>

                                <!-- Form Name -->

                                <legend class="text-center">
                                    <h3>REGISTRATION</h3>
                                    <br>
                                    <p>I am a parent registring for my ward as per detail given below</p>
                                </legend>

                                <!-- Text input-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label"> User Name</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.UserName)
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Gender</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                            @Html.DropDownListFor(x => x.Gender, new SelectList(ViewBag.Gender, "Value", "Text"),"--Select Gender--", new { @class = "form-control", @Id = "Gender" })

                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                            @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.EmailId)
                                        </div>
                                    </div>
                                </div>
                           
                                     <div class="form-group">
                                    <label class="col-md-3 control-label">Mobile</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                            @Html.TextBoxFor(model => model.MobileNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.MobileNumber)
                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
   
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Country</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
                                            @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.CountryList, "Id", "CountryName"),"--Select Country--", new {@class="form-control",@Id="Country" })
                                            
                                            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->

                                <!-- Text input-->

                                <div class="form-group">
                                    <label class="col-md-3 control-label">State</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-graduation-cap"></i></span>
                                            @Html.DropDownList("State", new SelectList(string.Empty, "Value", "Text"), "--Select State--", new { @class = "form-control", @id = "stateDropdown" })
                                            @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">City</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                            @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.City)
                                        </div>
                                    </div>
                                </div>
                             
                              
                                <!-- Text input-->


                                <div class="form-group">
                                    <label class="col-md-3 control-label"> Class</label>
                                    <div class="col-md-9 inputGroupContainer">
                                        <div class="input-group">

                                            <span class="input-group-addon"><i class="fa fa-th-large"></i></span>
                                            @Html.DropDownListFor(x => x.ClassId, new SelectList(ViewBag.StudentClass, "Id", "ClassName"),"--Select Class--", new { @class = "form-control", @Id = "Country" })
                                            @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                 

                              
                                <!-- Button -->
                                <div class="form-group">
                                    <p id="txtError2" class="text-danger">

                                    </p>

                                    <div>
                                        <button type="submit" id="register-submit" name="register-submit" href="/Account/Register" class="btn btn-danger text-right">Register Now</button>
                                        @*<button type="button" name="register-submit" id="register-submit" class="btn btn-primary" style="display:block">Register Now <span class="glyphicon glyphicon-send"></span></button>*@
                                        <span id="spnSpinnerreg"><i class="fa fa-spinner fa-spin fa-4x"></i></span>

                                    </div>
                                </div>

                            </fieldset>
                        </form>
}
                    </div>

                </div>


            </div>
  
    </section>

    <section id="footerRights">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Copyright © 2017 <a href="http://www.silverzone.org/" target="blank">silverzone olympiads</a> / All rights reserved.</p>
                </div>
                <div class="col-sm-6">
                    <ul class="socialNetwork pull-right">
                        <li>
                            <a href="#" class="tips" title="follow me on Facebook"><i class="icon-facebook-1 iconRounded"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" class="tips" title="follow me on Twitter" target="_blank"><i class="icon-twitter-bird iconRounded"></i></a>
                        </li>
                        <li>
                            <a href="#" class="tips" title="follow me on Google+"><i class="icon-gplus-1 iconRounded"></i></a>
                        </li>
                        <li>
                            <a href="#" class="tips" title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded"></i></a>
                        </li>
                        <li>
                            <a href="#" class="tips" title="follow me on youtube"><i class="icon-youtube iconRounded"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End footer -->
    </div>
    <!-- global wrapper -->
    <!--================================================== -->
    <script type="text/javascript" src="~/nlook/js/jquery.1.10.2.min.js"></script>

    <!-- third party plugins  -->
    <script type="text/javascript" src="~/nlook/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/nlook/js/jquery.easing.1.3.js"></script>

    <script type="text/javascript" src="~/nlook/js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/nlook/js/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="~/nlook/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/nlook/js/jquery.pageslide-custom.js"></script>
    <!-- Custom  -->
    <script type="text/javascript" src="~/nlook/js/custom.js"></script>
    <script type="text/javascript" src="~/assets/js/customeJs.js"></script>
  
    <script type="text/javascript">
        $(function () {


            debugger;
            $('#Country').on('change', function () {
                debugger;
                var stateDropdown = $('#State');
                //disable city drop down
                stateDropdown.prop('disabled', 'disabled');
                //clear drop down of old city
                stateDropdown.empty();

                //retrieve selected subject
                var state = $(this).val();
                if (state.length > 0) {
                    // retrieve data using a Url.Action() to construct url
                    $.getJSON('@Url.Action("GetStateList")', {
                        id: state
                    })
                    .success(function (data) {
                        // prompt('', JSON.stringify(data));
                        //re-enable city drop down
                        stateDropdown.removeProp('disabled');
                        //for each returned state
                        //$('<option>').val('0').text('--Select State--').appendTo('#stateDropdown');
                        $.each(data, function (i, states) {
                            //Create new option

                            $('<option>').val(states.Id).text(states.StateName).appendTo('#stateDropdown');
                            //var option = $('<option />').html(stdclass);
                            ////append city states drop down
                            //classDropdown.append(option);
                        });
                    })
                    .fail(function (jqxhr, textStatus, error) {
                        alert("something went wrong");
                        var err = textStatus + ", " + error;
                        console.log("Request Failed: " + err);
                    });
                }
            });
        })
    </script>



    <!-- Custom  -->
</body>
</html>

