@model ApsMind.Olympiad.Framework.Entity.QuestionOption

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "QuestionOption", FormMethod.Post, new { enctype = "Multipart/form-data" }))
{
    <div class="form-horizontal">
        <h4>Create Para</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.OptionId)
        <div class="form-group">
            @Html.LabelFor(model => model.QuestionId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.QuestionId, new SelectList(ViewBag.QuestionId, "QuestionId", "QuestionId"), "--Select Question --")
                @Html.ValidationMessageFor(model => model.QuestionId)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OptionText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.OptionText)
                @Html.ValidationMessageFor(model => model.OptionText)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="userImg">
                    @if (Model == null)
                    {
                    <img src="~/Images/question_mark1.jpeg" width='185px' height='185px' style="border: 3px solid black" alt="Place your image here" id="ImageUrl">




                    }
                    @if (Model != null)
                    {

                    <img src="@Model.ImageUrl" alt="Image" width='185px' height='185px' style="border:3px solid black" id="ImageUrl" />

                    }

                    <input type="file" class="inputImg" name="ImageUrl" onchange="ShowpImagePreview(this);">
                    @Html.ValidationMessageFor(model => model.ImageUrl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAnswer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAnswer, new { @checked = "checked" })
                @Html.ValidationMessageFor(model => model.IsAnswer)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function ShowpImagePreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#ImageUrl').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
